.contenedor-conversaciones {
    display: grid;
    height: calc(100vh - 100px);
    overflow: hidden;

}

.panel-lista {
    background: aliceblue;
    gap: 2%;
}

.panel-lista,
.panel-chat 
.panel-plantillas{
    min-width: 0;
    overflow: hidden;
    padding:10px;
}

@media (min-width: 769px) {
    .contenedor-conversaciones {
        grid-template-columns: 30% 50% 20%;
    }

    .panel-lista,
    .panel-chat {
        display: flex;
        flex-direction: column;
    }

    .btn-volver {
        display: none;
    }
}

@media (max-width: 768px) {
    .contenedor-conversaciones {
        grid-template-columns: 100%;
    }

    .panel-lista,
    .panel-chat {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .mostrar-lista .panel-lista {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column-reverse;
    }

    .mostrar-chat .panel-chat {
        display: flex;
    }

    .btn-volver {
        display: flex;
    }
}
