.panel-conversaciones {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

/* --- VISTA ESCRITORIO --- */
.acciones-conversaciones {
    order: 1;
}

.filtro-categorias {
    order: 2;
}

.caja-busqueda {
    order: 3;
}

.contenedor-tarjetas {
    order: 4;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}

/* --- VISTA MÓVIL (<= 768px) --- */
@media (max-width: 768px) {
    .caja-busqueda {
        order: 1;
    }

    .filtro-categorias {
        order: 2;
    }

    .contenedor-tarjetas {
        order: 3;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 0;
    }

    .acciones-conversaciones {
        order: 4;
        margin-top: 10px;
        background-color: transparent;
    }
}
